.bad-content {
	margin: 0 auto;
	max-width: 800px;
	position: relative;
	width: 100%;
	
	h1 {
		font: normal 30px/34px $header;
	}
	h2 {
		color: #3e553d;
		font: normal 26px/30px $header;
		margin: 0 0 0 -1%;
		padding: 15px 0 10px;
	}
	h3 {
		font: normal 22px/36px $header;
		margin: 0 0 0 -1%;
		padding: 15px 0 10px;
	}
	p {
		padding: 8px 0;
	}
	a {
		color: #4da248;
		
		&:hover {
			color: #5c91ad;
		}
	}
	blockquote {
		border-left: 3px solid #939c92;
		color: #000;
		margin: 20px 0 20px 20px;
		padding: 0 0 0 15px;
	}
	img {
		background: #fff;
		border: 1px solid #f0f0f0;
		display: block;
		height: auto;
		max-width: 96%;
		padding: 2%;
		
		&.aligncenter {
			margin: 0 auto;
		}
		&.alignleft {
			margin: 0 auto 0 0;
		}
		&.alignright {
			margin: 0 0 0 auto;
		}
	}
	
	.entry-media {
		padding: 15px 0 10px;
	}
	
	.article-list {
		
		li {
			border-bottom: 1px solid #dff2e0;
			overflow: hidden;
			padding: 20px 0 20px;
		}
		h4 {
			font: normal 26px/30px $header;
			padding: 15px 0 0;
			
			a {
				color: #405a42;
				text-decoration: none;
			}
		}
		img {
			float: left;
			margin: 0 15px 0 0;
			padding: 1%;
		}
		p {
			padding: 0;
		}
		.meta {
			color: #d3d3d3;
			font: italic normal 12px/14px $sansSerif;
			
			a {
				color: #d3d3d3;
				
				&:hover {
					color: #405a42;
				}
			}
		}
	}
	.post-edit-link {
		float: right;
	}
}



.social-share {
	float: right;
	
	li {
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		vertical-align: middle;
		
		//@include transition(all 0.4s ease);
		
		a {
			color: #fff;
			display: block;
			font-size: 14px;
			line-height: 18px;
			padding: 4px 4px 0 4px;
			position: relative;
			text-decoration: none;
			vertical-align: top;
			
			@include border-radius(25px);
			@include transition(all 0.4s ease);
			
			span {
				display: none;
				font-size: 50px;
				line-height: 50px;
				
				&.icon-yt-you {
					color: #414042;
					display: inline-block;
				}
				&.icon-yt-tube {
					color: #dc232b;
					display: block;
					left: 0;
					position: absolute;
					top: 0;
				
					@include transition(all 0.4s ease);
				
					&:hover {
						color: #f47185;
					}
				}
			}
		}
		
		&.title {
			color: #949597;
			font: normal 15px/15px $sansSerif;
			letter-spacing: -.5px;
			padding: 0 6px 0 0;
			vertical-align: middle;
		}
		
		&.twitter a {
			background: #31abde;
		
			&:hover {
				background: #70d1ee;
			}
		
		}
		&.facebook a {
			background: #0d65a1;
		
			&:hover {
				background: #2da0cb;
			}
		}
		&.google a {
			background: #ea3245;
		
			&:hover {
				background: #f47185;
			}
		}
		&.youtube a {
			background: transparent;
			border: none;
			margin: 10px 5px 0 0;
			padding: 0;
		
			@include border-radius(none);
		}
	}
}
body.category .main aside, body.search .main aside {
	padding: 0;
}
body.single {
	margin: 85px auto 0;

	.main {
		
		.main-content {
			padding: 45px 0 0;
		}
	}
}
body.search .main .main-content .post-list .summary {
	
}

article .social-share {
	text-align: right;
	padding: 0 0 15px;
	
	li {
		display: inline-block;
		margin: 0 5px 0 0;
		
		&.twitter a, &.facebook a, &.google a, &.linkedin a, &.email a {
			background: #9c9c9c;
			
			&:hover {
				background: #717171;
			}
		}
		
		&.email a {
			background: transparent;
			color: #9c9c9c;
			font-size: 21px;
			
			&:hover {
				background: transparent;
				color: #717171;
			}
		}
		&.title {
			padding: 0 5px 0 0;
		}
	}
}
a.btn {
	background: #ec3045;
	border: none;
	color: #fff;
	float: right;
	font: bold 18px/20px $general;
	letter-spacing: -.5px;
	margin: 22px 0 0 50px;
	padding: 6px 24px;
	width: auto;
	
	&:hover {
		background: #ff6e7e;
	}
}

.pagination {
	margin: -7px 0 0;
	overflow: hidden;
	padding: 0 0 10px;
	position: relative;
	width: 100%;
	
	h4 {
		letter-spacing: 0;
	}
	
	ul {
		float: right;
		
		li {
			display: inline-block;
			
			a {
				color: #0065a4;
				
				&:hover {
					color: #00385b;
					text-decoration: underline;
				}
			}
		}
	}
	.prev {
		padding: 0 5px 0 0;
	}
}