/* Fonts
=============================================*/


body {
	-webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'SpeakEasy';
    src: url('fonts/SF_Speakeasy-webfont.eot');
    src: url('fonts/SF_Speakeasy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SF_Speakeasy-webfont.woff') format('woff'),
         url('fonts/SF_Speakeasy-webfont.ttf') format('truetype'),
         url('fonts/SF_Speakeasy-webfont.svg#sf_speakeasyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sinkin Light';
    src: url('fonts/SinkinSans-200XLight-webfont.eot');
    src: url('fonts/SinkinSans-200XLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-200XLight-webfont.woff') format('woff'),
         url('fonts/SinkinSans-200XLight-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-200XLight-webfont.svg#sinkin_sans200_x_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sinkin Bold';
    src: url('fonts/SinkinSans-500Medium-webfont.eot');
    src: url('fonts/SinkinSans-500Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SinkinSans-500Medium-webfont.woff') format('woff'),
         url('fonts/SinkinSans-500Medium-webfont.ttf') format('truetype'),
         url('fonts/SinkinSans-500Medium-webfont.svg#sinkin_sans500_medium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@charset "UTF-8";

@font-face {
  font-family: "probably-bad-icons";
  src:url("fonts/probably-bad-icons.eot");
  src:url("fonts/probably-bad-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/probably-bad-icons.woff") format("woff"),
    url("fonts/probably-bad-icons.ttf") format("truetype"),
    url("fonts/probably-bad-icons.svg#probably-bad-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Reset & Normalization
=============================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, dialog{
	display: block;
}
audio, canvas, video{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]){
	display: none;
}
[hidden]{
	display: none;
	visibility: hidden;
}

/* Headings
=============================================*/
h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: -1px;
}
h1 {
	font-size: 4.25em; /* 68px */
	line-height: 1.1471em;
}
h2 {
	font-size: 2.625em; /* 42px */
	line-height: 1.2381em;
}
h3 {
	font-size: 1.625em; /* 26px */
	line-height: 1em;
}
small {
	font-size: 0.625em; /* 10px */
}
/* Preformatted
=============================================*/
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre, code, kbd, samp {
	font: 1em/1.625em;
}
/* Tables
=============================================*/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	text-align: left;
}
/* Forms
=============================================*/
fieldset {
	border: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
}
legend {
	border: 0;
	*margin-left: -7px;
}
button, input, select, textarea {
	font: 1em/1.625;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input {
	line-height: normal;
	*overflow: visible;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
}
input[type="search"] {
	-webkit-appearance: textfield;
	@include box-sizing(content-box);
}
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
table button, table input {
	*overflow: auto;
}
/* Quotes
=============================================*/
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
blockquote, q, cite {
	font-style: italic;
}
blockquote > p {
	padding: 0;
}
/* Lists
=============================================*/
ul, ol, li {
	list-style-position: inside;
	list-style-type: none;
	list-style-image: none;
}
/* Links
=============================================*/
a, a:visited, a:hover, a:active {
	outline: none;
	text-decoration: underline;
}
/* Embedded content
=============================================*/
object, video {
	max-width: 100%;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}
svg:not(:root) {
	overflow: hidden;
}
/* Helpers
=============================================*/
hr {
	display: block;
	height: 1px;
	border: 0;
	border-bottom: 1px solid #ddd;
}
strong, b, dt, .bold {
	font-weight: bold;
}
dfn, .italic {
	font-style: italic;
}
var, address {
	font-style: normal;
}
sub, sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
/* Main
=============================================*/
html {
	height: 100%;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	color: #414042;
	margin: 68px auto 0;
	min-height: 100%;
	min-width: 100%;
	font: normal 16px/28px $general;
	max-width: 960px;
	background: #fff;
}


[data-icon]:before {
  font-family: "probably-bad-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bad-"]:before,
[class*=" bad-"]:before {
  font-family: "probably-bad-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bad-icon-menu:before {
  content: "a";
}
.bad-icon-facebook:before {
  content: "b";
}
.bad-icon-twitter:before {
  content: "c";
}