/* Media Queries
=============================================*/
/* Smartphones (all orientations) ----------- */
//@media only screen
//and (max-width : 480px){
@media screen and (max-width: 87em){

}
@media screen and (max-width: 70em){
//	body {
//		background: red;
//	}
	
	.main {
		
		.main-content {
			padding: 45px 0 0 12px;
		}
	}
	.page-hero {
		.featured-img {
			
			img {
				height: auto;
				left: 50%;
				margin: 0 0 0 -650px;
				width: 1300px;
			}
		}
		
		li {
			width: 33%;
			
			&.connect {
				width: 34%;
			}
		}
	}
	
	
	header, footer, .bad-content {
		padding: 0 4%;
		width: 92%;
	}
	
	body.category {
		h2, .featured-post {
			margin: 0 2%;
			width: 96%;
		}
		.main .main-content {
			padding: 0 0 0 12px;
		}
	}
	

}

@media screen and (max-width: 60em){
//	body {
//		background: green;
//	}
	
	.page-hero {
		
		h1 {
			padding: 160px 0 20px;
		}
		
		.featured-img {
			
			img {
				height: auto;
				left: 50%;
				margin: 0 0 0 -650px;
				width: 1300px;
			}
		}
	}
	
	.main {
		
		.featured-post {
			
			a.btn, .meta-list {
				display: inline-block;
				float: none;
				margin: 20px 0 0;
				position: static;
			}
		}
		
		.main-content {
			
			.post-list {
				
				h4 {
					padding: 0 0 4px;
				}
				p {
					display: none;
				}
				.featured-img {
					overflow: hidden;
					
					h5 {
						padding: 3px 0 2px 19px;
					}
					a {
						
						img {
//							height: 100%;
//							width: auto;
						}
					}
				}
				.summary {
					padding: 12px 15px 0 15px;
				}
				
				>li.inline-ad {
					
					h4 {
						font-size: 18px;
						line-height: 19px;
					}
					p {
						font-size: 13px;
						padding: 4px 0;
					}
					.summary {
						padding: 12px 15px 0 15px;
					}
				}
			}
		}
		
		aside {
			
			li.stat {
				
				h4 {
					font-size: 52px;
					line-height: 52px;
					
					span {
						bottom: -11px;
						font-size: 40px;
					}
				}
				p {
					font-size: 19px;
					line-height: 20px;
				}
			}
			li.podcast {
				
				h4 {
					font-size: 19px;
					line-height: 20px;
					
					span {
						font-size: 48px;
						left: -45px;
						margin: 0;
						position: absolute;
						top: -15px;
					}
				}
			}
			li.related li {
				
				img {
					display: none;
				}
			}
		}
	}
	
}

@media screen and (min-width: 44em){
	nav.mobile-nav {
		right: -75% !important;
	}
}

@media screen and (max-width: 55em){
	.main {
		
		.featured-post {
			
			.featured-img {
				width: 100%;
			}
			.summary {
				width: 100%;
			}
			
			.meta-list {
				display: block;
				margin: 15px 0 8px;
			}
		}
	}
	.social-share li.title {
		display: none;
	}
}
	
	
@media screen and (max-width: 44em){
//	body {
//		background: blue;
//	}
	
	.page-hero {
		padding: 0 0 95px;
		
		h1 {
			font-size: 46px;
			line-height: 52px;
			padding: 20px 0;
		}
		ul {
			display: none;
		}
		.featured-img {
			height: 100%;
		}
	}
	.home-featured {
		
		h2 {
			display: none;
		}
		li {
			width: 100%;
			float: none;
			
			p {
				border: none;
			}
		}
	}
	.main {
		
		.main-content {
			display: block;
			margin: 0 auto;
			padding: 45px 0 0 0;
			width: 96%;
			
			.post-list {
				
				.featured-img {
					
					h5 {
						position: static;
					}
				}
				p {
					display: none;
					
					&.intro-mobile {
						display: block;
					}
				}
				.meta-list {
					
					h5 {
						margin: 0 2px 0 0;
						padding: 0 4px 0 0;
					}
				}
			}
		}
		
		aside {
			display: block;
			margin: 0 auto;
			width: 96%;
		
			li.related li {
				
				img {
					display: block;
				}
			}
		}
		
		.sign-up {
			background: transparent;
			overflow: visible;
			@include box-shadow(none);
			
			.info {
				margin: 0 auto;
				padding: 20px;
				width: 96%;
				
				//@include box-shadow(0 2px 2px rgba(1,1,1,.3));
				
				h2 {
					font-size: 28px;
					line-height: 33px;
				}
				h4 {
					font-size: 14px;
					line-height: 20px;
				}
			}
			fieldset {
				background: #f4f6f7;
				float: none;
				margin: 0 auto;
				padding: 25px 25px 70px;
				position: relative;
				width: 96%;
				
				@include box-shadow(0 2px 2px rgba(1,1,1,.3));
				
				input {
					float: none;
					width: 100%;
				}
				label {
					padding: 0;
				}
				.submit-btn {
					bottom: 20px;
					float: none;
					left: 30%;
					position: absolute;
				}
				div {
					width: 100%;
				}
			}
		}
		
		.main-content .sign-up {
			background: #f4f6f7;
			
			@include box-shadow(0 2px 2px rgba(1,1,1,.3));
		
			.info {
				
			
				h4 {
					
				}
			}
			h4 {
				
			}
			fieldset {
				background: transparent;
				padding: 35px 0 0;
				width: 88%;
				
				@include box-shadow(none);
			
				input {
					
				
					&.checkbox {

					}
				}
				label {

				}
			}
			div {
				
			
				input {
					
				}
				label {
					
				}
			}
			button {
				
			}
			input, textarea {
				
			
				&.full {

				}
			}
			textarea {
				display: block;
				margin: 22px auto 0;
				width: 88%;
			}
		}
		
		.learn-more-links {
			margin: 0 auto;
			width: 96%;
			
			li {
				float: none;
				height: auto;
				margin: 0 0 15px;
				padding: 20px 25px;
				text-align: left;
				width: 100%;
				
				a.link {
					width: 80%;
				}
			}
		}
	}
	
	
	
	header {
		h1 {
			font: normal 32px/66px "SpeakEasy","Impact","sans-serif";
		}
		input {
			width: 110px;
		}
		
		a.mobile-menu {
			display: block;
		}
		
		a.site-logo {
			font-size: 18px;
			left: 20px;
		}
		nav {
			display: none;
		}
		aside {
			display: none;
		}
	}
	
	footer {
		margin: 30px 0 0;
		
		.inner {
			padding: 83px 0 30px;
		}
	}
	
	.social-share {
		li {
			
			a {
				width: 23px;
			}
			&.youtube a {
				width: 48px;
			}
		}
	}
	.pagination {
	
		h4 {
			text-transform: capitalize;
			
			span {
				display: none;
			}
		}
	}
	
}